In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
careline = pd.read_csv('Data/ClientEncounters.csv')

In [4]:
careline.describe()

,ZIP Code,All LCC Enc Jan - June,ALL LCC Encounters 2018 Jul-Dec,Black,White,Asian,Multi-Racial,Other,Not Reported,Hispanic/Latino,Not Hispanic/Latino,Unknown,Male,Female
count,66.000000,66.000000,66.000000,66.000000,66.000000,66.000000,66.000000,66.000000,66.000000,66.000000,66.000000,66.000000,66.000000,66.000000
mean,28603.757576,29.424242,29.378788,4.757576,3.090909,0.181818,1.515152,10.969697,8.863636,19.090909,5.121212,5.166667,8.606061,20.772727
std,2409.661949,48.610876,47.661552,8.641689,4.960544,0.493312,2.752579,20.695573,14.697866,34.039672,8.010599,8.556749,14.827084,33.602104
min,27030.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,28104.250000,1.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.250000,1.000000,0.000000,0.000000,0.000000,1.000000
50%,28207.500000,4.000000,4.500000,1.000000,1.000000,0.000000,0.000000,1.000000,2.000000,3.000000,1.500000,2.000000,2.000000,4.000000
75%,28269.750000,33.500000,30.750000,4.000000,4.000000,0.000000,2.000000,9.000000,8.000000,16.750000,5.750000,5.750000,7.000000,23.750000
max,47424.000000,182.000000,186.000000,35.000000,28.000000,2.000000,11.000000,85.000000,64.000000,149.000000,32.000000,44.000000,71.000000,122.000000

In [10]:
careline.count()

ZIP Code                           66
All LCC Enc Jan - June             66
ALL LCC Encounters 2018 Jul-Dec    66
Black                              66
White                              66
Asian                              66
Multi-Racial                       66
Other                              66
Not Reported                       66
Hispanic/Latino                    66
Not Hispanic/Latino                66
Unknown                            66
Male                               66
Female                             66
dtype: int64

In [11]:
careline.columns[1:3]

Index(['All LCC Enc Jan - June', 'ALL LCC Encounters 2018 Jul-Dec'], dtype='object')

In [13]:
careline.head()

,ZIP Code,All LCC Enc Jan - June,ALL LCC Encounters 2018 Jul-Dec,Black,White,Asian,Multi-Racial,Other,Not Reported,Hispanic/Latino,Not Hispanic/Latino,Unknown,Male,Female
0,27030,0,1,0,0,0,0,0,1,1,0,0,1,0
1,27540,0,4,4,0,0,0,0,0,0,0,4,0,4
2,28012,1,1,0,1,0,0,0,0,1,0,0,0,1
3,28025,4,6,1,2,0,0,1,2,2,1,3,1,5
4,28027,9,3,0,0,0,2,1,0,3,0,0,2,1

In [14]:
careline[careline.columns[0:3]]

    ZIP Code  All LCC Enc Jan - June  ALL LCC Encounters 2018 Jul-Dec
0      27030                       0                                1
1      27540                       0                                4
2      28012                       1                                1
3      28025                       4                                6
4      28027                       9                                3
5      28031                       7                                9
6      28034                       1                                5
7      28036                       2                                1
8      28052                       3                                3
9      28054                       0                                2
10     28056                       1                                4
11     28075                       4                                4
12     28078                      10                                7
13     28079                      17                                2
14     28081                       0                                2
15     28092                       3                                5
16     28104                       2                                4
17     28105                      32                               31
18     28106                       0                                2
19     28108                       2                                1
20     28110                      19                               19
21     28112                       7                                9
22     28120                       0                                4
23     28134                      45                               57
24     28164                       0                                2
25     28173                      10                                8
26     28174                       9                                3
27     28202                      11                               13
28     28203                       3                                2
29     28204                       1                                7
..       ...                     ...                              ...
36     28211                      30                               24
37     28212                     168                              186
38     28213                      82                               71
39     28214                     104                              129
40     28215                     182                              159
41     28216                      67                               76
42     28217                     168                              168
43     28218                       1                                3
44     28222                       0                                1
45     28226                      34                               27
46     28227                     135                              119
47     28262                      52                               48
48     28269                      87                               80
49     28270                      35                               34
50     28272                       1                                1
51     28273                      89                              103
52     28274                       0                                1
53     28275                       1                                2
54     28277                      29                               39
55     28278                      39                               30
56     28299                       0                                2
57     28692                       0                                2
58     29706                       0                                2
59     29707                       4                                1
60     29708                       1                                2
61     29710                       0                                3
62     29720                       0                                5
63     29730                       1                                1
64     29745                       2                                1
65     47424                       0                                2

[66 rows x 3 columns]

In [22]:
careline_num = careline[careline.columns[0:3]]

In [23]:
careline_num['actual_num'] = careline_num[careline.columns[1]] + careline_num[careline.columns[2]]

C:\Users\kvssr\Anaconda3\envs\tfdeeplearning\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [24]:
careline_num = careline_num[careline_num.columns[[0,3]]]

In [25]:
careline_num

    ZIP Code  actual_num
0      27030           1
1      27540           4
2      28012           2
3      28025          10
4      28027          12
5      28031          16
6      28034           6
7      28036           3
8      28052           6
9      28054           2
10     28056           5
11     28075           8
12     28078          17
13     28079          19
14     28081           2
15     28092           8
16     28104           6
17     28105          63
18     28106           2
19     28108           3
20     28110          38
21     28112          16
22     28120           4
23     28134         102
24     28164           2
25     28173          18
26     28174          12
27     28202          24
28     28203           5
29     28204           8
..       ...         ...
36     28211          54
37     28212         354
38     28213         153
39     28214         233
40     28215         341
41     28216         143
42     28217         336
43     28218           4
44     28222           1
45     28226          61
46     28227         254
47     28262         100
48     28269         167
49     28270          69
50     28272           2
51     28273         192
52     28274           1
53     28275           3
54     28277          68
55     28278          69
56     28299           2
57     28692           2
58     29706           2
59     29707           5
60     29708           3
61     29710           3
62     29720           5
63     29730           2
64     29745           3
65     47424           2

[66 rows x 2 columns]

In [166]:
careline_arr = careline_num.rename(columns={'ZIP Code':'zipcode'})

In [26]:
camino = pd.read_csv('Data/Camino.csv')

In [27]:
camino.head()

  Zip|American Indian or Alaska Native|Asian|Black or African American|Native Hawaiian or Other Pacific Islander|Patient declined to specify (race)|White|Female|Male|Hispanic or Latino|Not Hispanic or Latino|Patient declined to specify (ethnicity)
0                    28205|1|1|0|0|64|0|47|19|65|0|1
1                    28227|0|0|1|1|33|3|26|12|36|0|2
2                    28217|0|0|1|0|39|2|32|10|40|0|2
3                    28269|1|0|5|0|41|2|36|13|42|1|6
4                    28213|1|0|2|1|86|7|67|30|91|0|6

In [28]:
camino_arr = camino[camino.columns[0]]

In [29]:
camino_arr

0     28205|1|1|0|0|64|0|47|19|65|0|1
1     28227|0|0|1|1|33|3|26|12|36|0|2
2     28217|0|0|1|0|39|2|32|10|40|0|2
3     28269|1|0|5|0|41|2|36|13|42|1|6
4     28213|1|0|2|1|86|7|67|30|91|0|6
5     28215|0|0|3|0|79|3|58|27|80|0|5
6      28214|0|0|1|0|22|0|14|9|22|0|1
7       28027|0|0|1|0|9|6|10|6|10|0|6
8     28216|0|0|2|0|28|0|20|10|27|0|3
9        28209|0|0|1|0|9|0|5|5|10|0|0
10    28212|0|0|0|0|54|0|43|11|54|0|0
11        28203|0|0|1|0|2|0|2|1|3|0|0
12     28208|0|0|0|0|20|1|15|6|21|0|0
13     28105|0|0|0|0|13|0|12|1|13|0|0
14    28210|0|0|0|0|41|0|29|12|41|0|0
15     28262|0|0|0|0|28|2|23|7|27|0|3
16     28273|0|0|0|0|24|2|20|6|25|0|1
17     28226|0|0|0|0|13|0|10|3|13|0|0
18        28451|0|0|1|0|0|0|1|0|0|0|1
19        29708|0|0|0|0|1|0|1|0|1|0|0
20        28031|0|0|0|0|2|2|2|2|2|0|2
21        28277|0|0|0|0|1|0|0|1|1|0|0
22        28054|0|0|0|0|1|0|0|1|1|0|0
23        28036|0|0|0|0|1|0|1|0|1|0|0
24        28202|0|0|0|0|1|0|1|0|1|0|0
25        28211|0|0|0|0|8|0|6|2|8|0|0
26        28078|0|0|0|0|2|1|2|1|2|0|1
27        28263|0|0|0|0|1|0|0|1|1|0|0
28        28223|0|0|0|0|1|0|1|0|1|0|0
29        28079|0|0|0|0|1|0|1|0|1|0|0
30        28083|0|0|0|0|1|0|1|0|1|0|0
31        28092|0|0|0|0|1|0|1|0|1|0|0
32        28098|0|0|0|0|1|0|1|0|1|0|0
33        28134|0|0|0|0|5|0|3|2|5|0|0
34        28236|0|0|0|0|1|0|0|1|1|0|0
35        28124|0|0|0|0|1|0|0|1|1|0|0
36        29729|0|0|0|0|1|0|1|0|1|0|0
37        28272|0|0|0|0|2|0|2|0|2|0|0
38        27407|0|0|0|0|1|0|1|0|1|0|0
39        28278|0|0|0|0|1|0|1|0|1|0|0
40        28206|0|0|0|0|7|0|6|1|7|0|0
41        28112|0|0|0|0|1|0|1|0|1|0|0
42        28270|0|0|0|0|1|0|0|1|1|0|0
43        28075|0|0|0|0|0|3|2|1|0|0|3
44        28025|0|0|0|0|0|1|1|0|0|0|1
45        28130|0|0|0|0|0|1|1|0|0|0|1
Name: Zip|American Indian or Alaska Native|Asian|Black or African American|Native Hawaiian or Other Pacific Islander|Patient declined to specify (race)|White|Female|Male|Hispanic or Latino|Not Hispanic or Latino|Patient declined to specify (ethnicity), dtype: object

In [88]:
zipcode = []
a_arr = []
b_arr = []
c_arr= []
d_arr= []
e_arr= []
f_arr= []
g_arr= []
h_arr=[]
i_arr=[]
j_arr=[]
k_arr=[]

In [89]:
count = 0
for string in camino_arr:
    z, a, b, c, d, e ,f, g, h, i, j, k = string.split('|')
    zipcode.append(int(z))
    a_arr.append(a)
    b_arr.append(int(b))
    c_arr.append(int(c))
    d_arr.append(int(d))
    e_arr.append(int(e))
    f_arr.append(int(f))
    g_arr.append(int(g))
    h_arr.append(int(h))
    i_arr.append(int(i))
    j_arr.append(int(j))
    k_arr.append(int(k))

In [91]:
camino['zipcode'] = zipcode

In [92]:
camino['a'] = a_arr
camino['b'] = b_arr
camino['c'] = c_arr
camino['d'] = d_arr
camino['e'] = e_arr
camino['f'] = f_arr
camino['g'] = g_arr
camino['h'] = h_arr
camino['i'] = i_arr
camino['j'] = j_arr
camino['k'] = k_arr

In [102]:
camino = camino.drop(camino.columns[0],1)

In [103]:
camino['actual_num'] = camino['g'] + camino['h']

In [106]:
camino_arr = camino[camino.columns[[0, 12]]]

In [107]:
camino_arr

    zipcode  actual_num
0     28205          66
1     28227          38
2     28217          42
3     28269          49
4     28213          97
5     28215          85
6     28214          23
7     28027          16
8     28216          30
9     28209          10
10    28212          54
11    28203           3
12    28208          21
13    28105          13
14    28210          41
15    28262          30
16    28273          26
17    28226          13
18    28451           1
19    29708           1
20    28031           4
21    28277           1
22    28054           1
23    28036           1
24    28202           1
25    28211           8
26    28078           3
27    28263           1
28    28223           1
29    28079           1
30    28083           1
31    28092           1
32    28098           1
33    28134           5
34    28236           1
35    28124           1
36    29729           1
37    28272           2
38    27407           1
39    28278           1
40    28206           7
41    28112           1
42    28270           1
43    28075           3
44    28025           1
45    28130           1

In [136]:
cchc = pd.read_csv('Data/CCHC.csv')

In [137]:
cchc.head()

  Zip|Female|Male|American Indian/Alaska Native|Asian|Black/African American|More than one race|Native Hawaiian|Unreported/Refused to Report Race|White
0                   28206|198|546|1|3|511|5|0|60|164
1                            29209|1|0|0|0|0|0|0|0|1
2                            28230|0|1|0|0|0|0|0|0|1
3                            29732|1|2|0|0|2|0|0|0|1
4                            28235|1|0|0|0|1|0|0|0|0

In [139]:
cchc_arr = cchc[cchc.columns[0]]

In [140]:
zipcode = []
a_arr = []
b_arr = []
c_arr= []
d_arr= []
e_arr= []
f_arr= []
g_arr= []
h_arr=[]
i_arr=[]
j_arr=[]
k_arr=[]

In [141]:
count = 0
for string in cchc_arr:
    z, a, b, c, d, e ,f, g, h, i = string.split('|')
    zipcode.append(int(z))
    a_arr.append(int(a))
    b_arr.append(int(b))
    c_arr.append(int(c))
    d_arr.append(int(d))
    e_arr.append(int(e))
    f_arr.append(int(f))
    g_arr.append(int(g))
    h_arr.append(int(h))
    i_arr.append(int(i))

In [142]:
cchc['zipcode'] = zipcode

In [143]:
cchc['a'] = a_arr
cchc['b'] = b_arr
cchc['c'] = c_arr
cchc['d'] = d_arr
cchc['e'] = e_arr
cchc['f'] = f_arr
cchc['g'] = g_arr
cchc['h'] = h_arr
cchc['i'] = i_arr

In [144]:
cchc = cchc.drop(cchc.columns[0],1)

In [145]:
cchc['actual_num'] = cchc['a'] + cchc['b']

In [147]:
cchc_arr = cchc[cchc.columns[[0, 10]]]

In [148]:
cchc_arr

     zipcode  actual_num
0      28206         744
1      29209           1
2      28230           1
3      29732           3
4      28235           1
5      28040           3
6      28126           1
7      27104           1
8      28269         337
9      28215         505
10     28212         446
11     28205         390
12     28227         381
13     28208         252
14     28213         314
15     28217         263
16     28216         226
17     28262         177
18     28273         163
19     28210         170
20     28277          53
21     28209          66
22     28214         159
23     28105          90
24     28226          46
25     28270          44
26     28202          41
27     28079          23
28     28134          34
29     28278          34
..       ...         ...
92     28236           2
93     28299           3
94     28272           1
95     28111           1
96     27407           1
97     29301           1
98     29707           3
99     28056           6
100    28128           1
101    29745           2
102    28224           3
103    27306           1
104    28233           1
105    28107           4
106    29720           5
107    27103           2
108    29710           1
109    27215           1
110    28112           4
111    28219           5
112    28144           3
113    30901           1
114     3103           1
115     6604           1
116    28601           1
117    27101           1
118    28021           1
119    28401           1
120    28151           1
121    28231           2

[122 rows x 2 columns]

In [149]:
ccla = pd.read_csv('Data/CCLA.csv')

In [150]:
ccla.head()

  Zip Code|Asian|Black|Declined (Race)|Hispanic|Multi|Native|White|Other|01 BankruptcyDebtor Relief|02 CollectRepoDefGarnsh|03 Contracts  Warranties|04 Collection Practices  Creditor Harassment|05 Predatory Lending Practices Not Mortgages|06 LoansInstallment Purch|07 Public Utilities|08 Unfair Sales Practices|09 Other Consumer  Finance|100 ACA Navigation Complex Screening|101 Breach of Confidentiality andor Disclosure of healthconfidential information|102 Drivers Licence Restoration|16 Student Financial Aid|19 Other Education|21 Job Discrimination|23 Tax Disputes|25 Employee Rights|29 Other Employment|30 Adoption|31 Custody  Visitation|33 Adult Guardianship|37 Domestic Abuse|39 Other Family|42 NeglectedAbusedDepend|44 Minor Guardianship  Conservatorship|51 Medicaid|52 Medicare|55 Private Health Insurance|58 Marketplace Appeals|59 Other Health|62 HomeownershipReal Property Not Foreclosure|63 LandlordTenant not PubH|65 Mobile Homes|66 Housing Discrimination|67 Mortgage Foreclosures|69 Other Housing|71 TANF|72 Social Security Not SSDI|73 Food Stamps|74 SSDI|75 SSI|76 Unemployment Compensation|77 Veterans Benefits|79 Other Income Maintanence|81 ImmigrationNaturalization|95 Advance Directives Wills and Estates|96 Expungement|99 Other Miscellaneous|Legal Assistance to NonProfit organization or group|Declined to Answer (Gender)|Female|Male|Transgender|X
0  28269|1|92|14|48|4|1|22|0|7|6|0|1|0|1|0|3|5|1|...
1  28681|0|0|0|1|0|0|1|0|0|0|0|0|0|0|0|0|0|0|0|0|...
2  28216|2|146|10|26|1|0|9|1|6|4|0|1|1|3|0|6|4|1|...
3  27288|0|0|0|1|0|0|0|0|0|0|0|0|0|0|0|0|0|0|0|0|...
4  28215|12|133|11|80|2|0|20|1|8|4|2|2|0|1|0|6|5|...

In [151]:
mcph = pd.read_csv('Data/MCPH.csv')

In [152]:
mcph

      ZipCode Rounded Up # of Visits
0       28208                   2900
1       28212                   2900
2   OutofMeck                   3400
3       28216                   3400
4       28215                   3400
5       28205                   3200
6       28269                   2900
7       28214                   2400
8       28262                   2400
9       28213                   2400
10      28217                   2400
11      28227                   2000
12      28206                   2000
13      28210                   2000
14      28273                   1500
15      28202               601-1000
16      28211               601-1000
17      28277                301-600
18      28105                301-600
19      28226                301-600
20      28078                301-600
21      28270                301-600
22      28278                301-600
23      28209                301-600
24      28204              100 - 300
25      28203              100 - 300
26      28134              100 - 300
27      28031              100 - 300
28      28120              100 - 300
29      28036                  < 100
30      28104                  < 100
31      28207                  < 100
32      28075                  < 100
33      28107                  < 100

In [153]:
medassist = pd.read_csv('Data/MedAssist.csv')

In [154]:
medassist.head()

  Zip|Number_African_Americans|Number_American_Indians|Number_Asians|Number_Caucasians|Number_Hispanics|Number_Other
0                              28216|101|0|1|15|20|2
1                                  27288|1|0|0|0|0|0
2                                28211|11|0|2|12|8|1
3                                  28345|1|0|0|1|0|0
4                              28212|49|0|9|23|90|10

In [155]:
medassist_arr = medassist[medassist.columns[0]]

In [156]:
zipcode = []
a_arr = []
b_arr = []
c_arr= []
d_arr= []
e_arr= []
f_arr= []

In [157]:
for string in medassist_arr:
    z, a, b, c, d, e ,f = string.split('|')
    zipcode.append(int(z))
    a_arr.append(int(a))
    b_arr.append(int(b))
    c_arr.append(int(c))
    d_arr.append(int(d))
    e_arr.append(int(e))
    f_arr.append(int(f))

In [158]:
medassist['zipcode'] = zipcode
medassist['a'] = a_arr
medassist['b'] = b_arr
medassist['c'] = c_arr
medassist['d'] = d_arr
medassist['e'] = e_arr
medassist['f'] = f_arr

In [159]:
medassist = medassist.drop(medassist.columns[0],1)

In [160]:
medassist['actual_num'] = medassist['a'] + medassist['b'] + medassist['c'] + medassist['d'] + medassist['e'] + medassist['f']

In [162]:
medassist_arr = medassist[medassist.columns[[0, 7]]]

In [163]:
medassist_arr

    zipcode  actual_num
0     28216         139
1     27288           1
2     28211          34
3     28345           2
4     28212         181
5     28205         163
6     28208         190
7     28206         329
8     28209          41
9     28227         161
10    28217         142
11    28269         132
12    28214         100
13    28215         216
14    28277          40
15    28078          42
16    28105          39
17    28278          29
18    28213         123
19    28210          73
20    28262          61
21    28273          75
22    28226          32
23    28031          22
24    28202          25
25    28134          26
26    28204          15
27    28270          29
28    28054           5
29    28036           9
..      ...         ...
38    28229           3
39    28079           2
40    28083           1
41    28081           1
42    28451           1
43    27217           1
44    28387           1
45    28173           1
46    28207           4
47    27360           1
48    27609           1
49    27030           1
50    28221           1
51    28398           1
52    28218           1
53    28201           5
54    28025           1
55    28236           1
56    28299           1
57    28241           2
58    28056           1
59    28224           2
60    28106           3
61    28126           1
62    28233           1
63    28107           1
64    28231           1
65    28104           3
66    29520           1
67    28144           1

[68 rows x 2 columns]

In [167]:
df = pd.DataFrame(columns=['zipcode', 'actual_num'])

In [171]:
df = df.append([camino_arr, careline_arr, medassist_arr, cchc_arr])

In [172]:
df.head()

  zipcode actual_num
0   28205         66
1   28227         38
2   28217         42
3   28269         49
4   28213         97

In [194]:
len(df[df.columns[0]].unique())

153

In [195]:
df = df.groupby(['zipcode']).sum()

In [199]:
df

         actual_num
zipcode
3103              1
6604              1
11216             1
12345             1
24333             1
27030             3
27055             1
27101             1
27103             2
27104             1
27107             1
27215             1
27217             1
27284             1
27288             1
27293             1
27306             1
27360             1
27407             3
27504             1
27534             1
27540             8
27609             1
28001             1
28012             9
28021             1
28025            35
28027            63
28031            78
28032             1
...             ...
28401             1
28451             3
28560             1
28601             1
28602             1
28645             1
28650             1
28677             1
28692             4
29209             1
29301             1
29520             1
29607             1
29706             4
29707            13
29708             9
29710             7
29715             1
29720            15
29729             2
29730             4
29732             3
29745             8
30032             1
30901             1
32256             1
47424             4
48033             1
48105             1
90302             1

[153 rows x 1 columns]

In [197]:
economy = pd.read_csv('Data/qol-economy.csv')

In [211]:
economy

,NPA,Household_Income_2015,Household_Income_moe_2015,Public_Nutrition_Assistance_2016,Public_Nutrition_Assistance_2015,Public_Nutrition_Assistance_2013,Public_Nutrition_Assistance_2011,Employment_Rate_2015,Employment_Rate_moe_2015,Job_Density_2015,...,Commercial_Building_Age_2016,Commercial_Building_Age_2015,Commercial_Building_Age_2013,Commercial_Building_Age_11,Fincancial_Services_Proximity_2016,Financial_Services_Proximate_Units_2016,Fincancial_Services_Proximity_2015,Financial_Services_Proximate_Units_2015,Fincancial_Services_Proximity_2014,Financial_Services_Proximate_Units_2014
0,2,45373.0,NaN,18.0,17.0,23.0,26.0,87.0,8.0,2.8,...,50.0,51.0,49.0,47.0,21.0,224.0,21.0,224.0,21.0,223.0
1,3,81048.0,NaN,5.0,4.0,4.0,6.0,98.0,1.0,27.9,...,63.0,63.0,62.0,60.0,99.0,4699.0,99.0,4725.0,99.0,4717.0
2,4,151974.0,58585.0,0.0,0.0,1.0,1.0,100.0,0.0,0.1,...,33.0,32.0,30.0,28.0,17.0,67.0,17.0,67.0,17.0,67.0
3,5,20032.0,7523.0,55.0,56.0,54.0,61.0,82.0,11.0,0.8,...,53.0,55.0,53.0,52.0,13.0,44.0,13.0,44.0,13.0,43.0
4,6,24092.0,NaN,53.0,54.0,46.0,54.0,84.0,5.0,2.0,...,51.0,50.0,47.0,47.0,61.0,501.0,61.0,500.0,61.0,503.0
5,7,180938.0,86564.0,0.0,0.0,0.0,0.0,99.0,4.0,6.6,...,25.0,24.0,22.0,20.0,56.0,241.0,56.0,240.0,56.0,237.0
6,8,50379.0,13988.0,8.0,7.0,4.0,8.0,97.0,9.0,1.0,...,34.0,33.0,31.0,33.0,48.0,495.0,48.0,493.0,47.0,486.0
7,9,63164.0,28440.0,9.0,9.0,14.0,16.0,93.0,5.0,0.5,...,67.0,66.0,64.0,62.0,11.0,33.0,11.0,33.0,11.0,33.0
8,10,25227.0,NaN,33.0,32.0,37.0,36.0,88.0,5.0,1.2,...,48.0,47.0,45.0,43.0,64.0,1011.0,63.0,1010.0,65.0,1031.0
9,11,105208.0,NaN,1.0,1.0,1.0,2.0,98.0,4.0,3.1,...,62.0,61.0,59.0,56.0,44.0,540.0,44.0,538.0,44.0,537.0
10,12,25425.0,NaN,36.0,34.0,34.0,35.0,85.0,3.0,0.6,...,32.0,31.0,29.0,27.0,0.0,0.0,0.0,0.0,0.0,0.0
11,13,37623.0,NaN,16.0,15.0,15.0,16.0,91.0,3.0,2.8,...,39.0,38.0,36.0,34.0,23.0,414.0,23.0,414.0,23.0,414.0
12,14,65081.0,NaN,14.0,13.0,12.0,11.0,94.0,4.0,0.9,...,22.0,21.0,19.0,16.0,61.0,981.0,61.0,982.0,61.0,982.0
13,15,95762.0,NaN,5.0,4.0,4.0,5.0,90.0,4.0,0.6,...,39.0,38.0,36.0,28.0,0.0,0.0,0.0,0.0,0.0,0.0
14,16,43212.0,NaN,33.0,31.0,26.0,26.0,87.0,7.0,2.8,...,40.0,39.0,36.0,35.0,27.0,579.0,27.0,579.0,27.0,579.0
15,17,32540.0,NaN,36.0,34.0,30.0,32.0,84.0,4.0,0.6,...,37.0,36.0,34.0,32.0,0.0,0.0,0.0,0.0,0.0,0.0
16,18,81800.0,NaN,5.0,4.0,5.0,6.0,95.0,3.0,1.9,...,27.0,26.0,24.0,21.0,33.0,555.0,33.0,556.0,33.0,558.0
17,19,86981.0,NaN,3.0,3.0,3.0,3.0,98.0,3.0,0.8,...,45.0,46.0,44.0,42.0,37.0,654.0,37.0,654.0,37.0,654.0
18,20,71556.0,NaN,3.0,2.0,2.0,4.0,95.0,3.0,0.5,...,12.0,11.0,9.0,7.0,15.0,225.0,15.0,225.0,15.0,225.0
19,21,23194.0,8513.0,37.0,36.0,36.0,37.0,88.0,10.0,3.4,...,48.0,48.0,46.0,45.0,77.0,948.0,77.0,944.0,77.0,940.0
20,22,49911.0,21106.0,17.0,17.0,18.0,24.0,86.0,11.0,2.8,...,63.0,62.0,58.0,58.0,56.0,286.0,56.0,278.0,48.0,176.0
21,23,18103.0,7482.0,56.0,54.0,49.0,46.0,90.0,7.0,3.2,...,26.0,24.0,22.0,20.0,0.0,0.0,0.0,0.0,0.0,0.0
22,24,59803.0,17207.0,11.0,11.0,15.0,18.0,95.0,10.0,2.0,...,50.0,49.0,49.0,46.0,18.0,82.0,18.0,82.0,19.0,88.0
23,25,99236.0,11166.0,2.0,2.0,3.0,3.0,92.0,2.0,1.1,...,24.0,23.0,21.0,19.0,26.0,290.0,26.0,288.0,26.0,288.0
24,26,74375.0,16281.0,7.0,7.0,7.0,8.0,95.0,6.0,0.2,...,38.0,37.0,32.0,28.0,0.0,0.0,0.0,0.0,0.0,0.0
25,27,55284.0,5653.0,19.0,18.0,18.0,18.0,97.0,6.0,0.4,...,25.0,23.0,29.0,27.0,0.0,0.0,0.0,0.0,0.0,0.0
26,28,88095.0,31745.0,1.0,1.0,1.0,1.0,97.0,4.0,4.9,...,36.0,35.0,33.0,31.0,92.0,507.0,92.0,508.0,93.0,509.0
27,29,88125.0,35438.0,3.0,2.0,2.0,2.0,97.0,9.0,0.5,...,15.0,14.0,12.0,10.0,0.0,0.0,0.0,0.0,0.0,0.0
28,30,13226.0,3494.0,47.0,51.0,76.0,78.0,81.0,12.0,6.6,...,53.0,52.0,50.0,48.0,91.0,895.0,89.0,762.0,82.0,412.0
29,31,115156.0,17355.0,1.0,1.0,1.0,1.0,92.0,3.0,0.4,...,34.0,33.0,31.0,39.0,31.0,210.0,31.0,209.0,31.0,211.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
432,445,81813.0,13142.0,2.0,2.0,2.0,3.0,91.0,6.0,0.1,...,28.0,27.0,25.0,23.0,12.0,125.0,12.0,125.0,10.0,98.0
433,446,67161.0,33636.0,7.0,7.0,5.0,6.0,90.0,7.0,0.0,...,24.0,23.0,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0
434,447,98448.0,23553.0,3.0,3.0,3.0,4.0,99.0,3.0,0.1,...,31.0,35.0,44.0,42.0,0.0,0.0,0.0,0.0,0.0,0.0
435,448,70219.0,13650.0,3.0,3.0,4.0,5.0,99.0,1.0,3.5,...,21.0,20.0,18.0,16.0,38.0,611.0,40.0,612.0,41.0,616.0
436,449,145393.0,45803.0,1.0,1.0,1.0,1.0,97.0,6.0,0.5,...,24.0,23.0,21.0,19.0,18.0,171.0,19.0,176.0,19.0,176.0
437,450,108021.0,10495.0,2.0,2.0,2.0,2.0,93.0,4.0,0.0,...,16.0,15.0,13.0,15.0,0.0,0.0,0.0,0.0,0.0,0.0
438,451,180726.0,14039.0,0.0,0.0,1.0,1.0,99.0,2.0,0.3,...,33.0,32.0,35.0,33.0,0.0,2.0,0.0,2.0,0.0,0.0
439,452,78500.0,16745.0,4.0,4.0,4.0,4.0,96.0,9.0,1.0,...,35.0,34.0,30.0,27.0,29.0,173.0,28.0,171.0,29.0,176.0
440,453,38000.0,17241.0,10.0,10.0,13.0,12.0,86.0,3.0,0.8,...,54.0,54.0,52.0,49.0,2.0,14.0,2.0,14.0,2.0,14.0
441,454,92109.0,14286.0,4.0,4.0,4.0,5.0,91.0,7.0,0.2,...,47.0,46.0,45.0,43.0,16.0,87.0,16.0,87.0,16.0,86.0
442,455,89028.0,12408.0,4.0,4.0,3.0,4.0,99.0,2.0,0.1,...,27.0,26.0,24.0,22.0,3.0,26.0,3.0,25.0,3.0,21.0
443,456,60347.0,12281.0,3.0,2.0,0.0,2.0,86.0,11.0,2.6,...,57.0,61.0,59.0,57.0,100.0,547.0,100.0,546.0,100.0,552.0
444,457,104659.0,21283.0,2.0,2.0,3.0,1.0,98.0,4.0,0.1,...,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0
445,458,75956.0,41472.0,2.0,2.0,1.0,2.0,88.0,8.0,0.6,...,34.0,33.0,31.0,29.0,12.0,49.0,5.0,19.0,5.0,19.0
446,459,76094.0,18388.0,8.0,8.0,7.0,7.0,98.0,3.0,0.1,...,38.0,37.0,35.0,33.0,0.0,0.0,0.0,0.0,0.0,0.0
447,460,70208.0,10991.0,11.0,10.0,9.0,10.0,93.0,3.0,2.1,...,46.0,45.0,43.0,41.0,37.0,404.0,37.0,404.0,38.0,404.0
448,462,72083.0,7679.0,8.0,7.0,8.0,8.0,96.0,9.0,0.1,...,44.0,41.0,33.0,32.0,1.0,9.0,1.0,9.0,1.0,5.0
449,463,43542.0,17382.0,18.0,17.0,16.0,17.0,89.0,7.0,1.4,...,25.0,23.0,21.0,21.0,71.0,719.0,71.0,719.0,71.0,719.0
450,464,94231.0,41126.0,2.0,2.0,2.0,3.0,93.0,1.0,0.7,...,22.0,21.0,19.0,17.0,18.0,228.0,18.0,227.0,18.0,226.0
451,465,58457.0,5426.0,8.0,7.0,7.0,7.0,92.0,7.0,4.5,...,12.0,11.0,9.0,7.0,0.0,0.0,0.0,0.0,0.0,0.0
452,466,79048.0,22049.0,7.0,7.0,7.0,8.0,91.0,8.0,0.1,...,39.0,38.0,36.0,34.0,0.0,0.0,0.0,0.0,0.0,0.0
453,467,126847.0,14887.0,3.0,3.0,3.0,3.0,93.0,2.0,4.4,...,13.0,12.0,12.0,10.0,43.0,309.0,43.0,309.0,43.0,309.0
454,468,NaN,NaN,0.0,0.0,0.0,0.0,85.0,6.0,0.0,...,28.0,25.0,23.0,28.0,59.0,51.0,60.0,53.0,59.0,51.0
455,469,124958.0,21909.0,0.0,0.0,0.0,1.0,93.0,6.0,0.0,...,24.0,23.0,21.0,19.0,0.0,0.0,0.0,0.0,0.0,0.0
456,470,120242.0,19977.0,0.0,0.0,1.0,1.0,94.0,8.0,1.1,...,21.0,19.0,20.0,18.0,54.0,556.0,54.0,556.0,54.0,554.0
457,471,53929.0,14926.0,4.0,4.0,5.0,6.0,98.0,3.0,1.8,...,48.0,47.0,45.0,43.0,90.0,1146.0,90.0,1147.0,90.0,1150.0
458,472,93958.0,12606.0,1.0,1.0,2.0,3.0,91.0,6.0,0.2,...,NaN,NaN,NaN,NaN,10.0,55.0,11.0,57.0,11.0,57.0
459,473,52561.0,13857.0,0.0,0.0,5.0,7.0,88.0,3.0,12.3,...,56.0,57.0,57.0,54.0,91.0,949.0,79.0,819.0,80.0,819.0
460,474,47036.0,28258.0,2.0,2.0,3.0,2.0,93.0,3.0,2.3,...,22.0,22.0,24.0,22.0,68.0,785.0,68.0,786.0,67.0,773.0
461,475,138750.0,36597.0,0.0,0.0,0.0,1.0,95.0,1.0,0.6,...,46.0,45.0,43.0,40.0,71.0,604.0,72.0,607.0,72.0,595.0

In [200]:
mapping = pd.read_csv('Data/qol-npa-mapping.csv')

In [201]:
mapping

     NPA #                           NSA Name  zipcode  Unnamed: 3  Unnamed: 4
0        2                Briarcreek-Woodland   28205.0        NaN         NaN
1        3                           Dilworth   28203.0        NaN         NaN
2        4                           Foxcroft   28211.0        NaN         NaN
3        5                       Enderly Park   28208.0        NaN         NaN
4        6                       Enderly Park   28208.0        NaN         NaN
5        7                           Foxcroft   28211.0        NaN         NaN
6        8          Montclaire / Madison Park   28209.0        NaN         NaN
7        9                        Plaza Hills   28205.0        NaN         NaN
8       10                     Plaza-Shamrock   28205.0        NaN         NaN
9       11                       Freedom Park   28203.0        NaN         NaN
10      12                   Starmount Forest   28210.0        NaN         NaN
11      13                        Collingwood   28209.0        NaN         NaN
12      14             Prosperity Church Road   28269.0        NaN         NaN
13      15                         Stonehaven   28270.0        NaN         NaN
14      16  North Sharon Amity / Reddman Road   28205.0        NaN         NaN
15      17                    Hampshire Hills   28213.0      28215         NaN
16      18               Wendover / Sedgewood   28211.0        NaN         NaN
17      19                       Quail Hollow   28210.0        NaN         NaN
18      20                      Provincetowne   28277.0        NaN         NaN
19      21            Sugar Creek / Ritch Ave   28213.0        NaN         NaN
20      22                    North Charlotte   28206.0        NaN         NaN
21      22                      Optimist Park   28206.0        NaN         NaN
22      23                         Stonehaven   28270.0        NaN         NaN
23      24                   Colonial Village   28209.0        NaN         NaN
24      25                 Piper Glen Estates   28277.0        NaN         NaN
25      26                    Bradfield Farms   28215.0      28227         NaN
26      27                        Marshbrooke   28105.0        NaN         NaN
27      28                           Cotswold   28211.0        NaN         NaN
28      29                 Piper Glen Estates   28277.0        NaN         NaN
29      30            Clanton Park / Roseland   28215.0        NaN         NaN
..     ...                                ...       ...        ...         ...
415    371                      Hidden Valley   28213.0        NaN         NaN
416    372                     Highland Creek   28269.0        NaN         NaN
417    373                          Lansdowne   28270.0        NaN         NaN
418    374                    Lincoln Heights   28206.0        NaN         NaN
419    375                         Montibello   28226.0        NaN         NaN
420    376                      Coulwood West   28214.0      28216         NaN
421    376                       Harwood Lane   28214.0        NaN         NaN
422    377             Back Creek Church Road   28213.0        NaN         NaN
423    378               Country Club Heights   28205.0        NaN         NaN
424    378                      Plaza Midwood   28205.0        NaN         NaN
425    379                Providence Crossing   28210.0        NaN         NaN
426    380              Providence Plantation   28270.0        NaN         NaN
427    381                         Sedgefield   28209.0        NaN         NaN
428    382                        Biddleville   28216.0        NaN         NaN
429    382                          Smallwood   28208.0        NaN         NaN
430    383                          Starmount   28210.0        NaN         NaN
431    383                   Starmount Forest   28210.0        NaN         NaN
432    384                         Third Ward   28216.0        NaN         NaN
433    385               Thomasboro / Hoskins   28216.0        NaN         NaN
434    386                      Villa Heights   28205.0        NaN         NaN
435    387                     Westerly Hills   28208.0        NaN         NaN
436    388                            Wilmore   28203.0        NaN         NaN
437    389                       Windsor Park   28205.0        NaN         NaN
438    390                         Echo Hills   28205.0        NaN         NaN
439    390                           Oakhurst   28205.0        NaN         NaN
440    391                         Stonehaven   28270.0        NaN         NaN
441    392                         Myers Park   28209.0        NaN         NaN
442    393                       Madison Park   28209.0        NaN         NaN
443    393          Montclaire / Madison Park   28209.0        NaN         NaN
444    394                           Cotswold   28211.0        NaN         NaN

[445 rows x 5 columns]

In [202]:
zipc = np.array(mapping[mapping.columns[2]])

In [206]:
zipc = zipc.astype(int)

In [207]:
mapping['zipcode'] = zipc

In [208]:
mapping.head()

   NPA #             NSA Name  zipcode  Unnamed: 3  Unnamed: 4  zipcode
0      2  Briarcreek-Woodland   28205.0        NaN         NaN    28205
1      3             Dilworth   28203.0        NaN         NaN    28203
2      4             Foxcroft   28211.0        NaN         NaN    28211
3      5         Enderly Park   28208.0        NaN         NaN    28208
4      6         Enderly Park   28208.0        NaN         NaN    28208

In [213]:
mapping = mapping.drop(mapping.columns[[2,3,4]],1)

In [214]:
mapping = mapping.drop(mapping.columns[[1]],1)

In [215]:
mapping

     NPA #  zipcode
0        2    28205
1        3    28203
2        4    28211
3        5    28208
4        6    28208
5        7    28211
6        8    28209
7        9    28205
8       10    28205
9       11    28203
10      12    28210
11      13    28209
12      14    28269
13      15    28270
14      16    28205
15      17    28213
16      18    28211
17      19    28210
18      20    28277
19      21    28213
20      22    28206
21      22    28206
22      23    28270
23      24    28209
24      25    28277
25      26    28215
26      27    28105
27      28    28211
28      29    28277
29      30    28215
..     ...      ...
415    371    28213
416    372    28269
417    373    28270
418    374    28206
419    375    28226
420    376    28214
421    376    28214
422    377    28213
423    378    28205
424    378    28205
425    379    28210
426    380    28270
427    381    28209
428    382    28216
429    382    28208
430    383    28210
431    383    28210
432    384    28216
433    385    28216
434    386    28205
435    387    28208
436    388    28203
437    389    28205
438    390    28205
439    390    28205
440    391    28270
441    392    28209
442    393    28209
443    393    28209
444    394    28211

[445 rows x 2 columns]

In [216]:
mapping = mapping.drop_duplicates(subset=['NPA #'], keep='first')

In [217]:
mapping

     NPA #  zipcode
0        2    28205
1        3    28203
2        4    28211
3        5    28208
4        6    28208
5        7    28211
6        8    28209
7        9    28205
8       10    28205
9       11    28203
10      12    28210
11      13    28209
12      14    28269
13      15    28270
14      16    28205
15      17    28213
16      18    28211
17      19    28210
18      20    28277
19      21    28213
20      22    28206
22      23    28270
23      24    28209
24      25    28277
25      26    28215
26      27    28105
27      28    28211
28      29    28277
29      30    28215
31      31    28226
..     ...      ...
407    365    28205
408    366    28217
410    367    28204
411    368    28210
412    369    28206
413    370    28205
414    371    28213
416    372    28269
417    373    28270
418    374    28206
419    375    28226
420    376    28214
422    377    28213
423    378    28205
425    379    28210
426    380    28270
427    381    28209
428    382    28216
430    383    28210
432    384    28216
433    385    28216
434    386    28205
435    387    28208
436    388    28203
437    389    28205
438    390    28205
440    391    28270
441    392    28209
442    393    28209
444    394    28211

[389 rows x 2 columns]

In [218]:
mapping = mapping.rename(columns={'NPA #':'NPA'})

In [327]:
economy_map = pd.merge(economy, mapping, on=['NPA'], how='inner')

In [328]:
economy_map.head()

,NPA,Household_Income_2015,Household_Income_moe_2015,Public_Nutrition_Assistance_2016,Public_Nutrition_Assistance_2015,Public_Nutrition_Assistance_2013,Public_Nutrition_Assistance_2011,Employment_Rate_2015,Employment_Rate_moe_2015,Job_Density_2015,...,Commercial_Building_Age_2015,Commercial_Building_Age_2013,Commercial_Building_Age_11,Fincancial_Services_Proximity_2016,Financial_Services_Proximate_Units_2016,Fincancial_Services_Proximity_2015,Financial_Services_Proximate_Units_2015,Fincancial_Services_Proximity_2014,Financial_Services_Proximate_Units_2014,zipcode
0,2,45373.0,NaN,18.0,17.0,23.0,26.0,87.0,8.0,2.8,...,51.0,49.0,47.0,21.0,224.0,21.0,224.0,21.0,223.0,28205
1,3,81048.0,NaN,5.0,4.0,4.0,6.0,98.0,1.0,27.9,...,63.0,62.0,60.0,99.0,4699.0,99.0,4725.0,99.0,4717.0,28203
2,4,151974.0,58585.0,0.0,0.0,1.0,1.0,100.0,0.0,0.1,...,32.0,30.0,28.0,17.0,67.0,17.0,67.0,17.0,67.0,28211
3,5,20032.0,7523.0,55.0,56.0,54.0,61.0,82.0,11.0,0.8,...,55.0,53.0,52.0,13.0,44.0,13.0,44.0,13.0,43.0,28208
4,6,24092.0,NaN,53.0,54.0,46.0,54.0,84.0,5.0,2.0,...,50.0,47.0,47.0,61.0,501.0,61.0,500.0,61.0,503.0,28208

In [329]:
economy_map = economy_map[economy_map.columns[[0,1,7,72]]]

In [330]:
economy_map

     NPA  Household_Income_2015  Employment_Rate_2015  zipcode
0      2                45373.0                  87.0    28205
1      3                81048.0                  98.0    28203
2      4               151974.0                 100.0    28211
3      5                20032.0                  82.0    28208
4      6                24092.0                  84.0    28208
5      7               180938.0                  99.0    28211
6      8                50379.0                  97.0    28209
7      9                63164.0                  93.0    28205
8     10                25227.0                  88.0    28205
9     11               105208.0                  98.0    28203
10    12                25425.0                  85.0    28210
11    13                37623.0                  91.0    28209
12    14                65081.0                  94.0    28269
13    15                95762.0                  90.0    28270
14    16                43212.0                  87.0    28205
15    17                32540.0                  84.0    28213
16    18                81800.0                  95.0    28211
17    19                86981.0                  98.0    28210
18    20                71556.0                  95.0    28277
19    21                23194.0                  88.0    28213
20    22                49911.0                  86.0    28206
21    23                18103.0                  90.0    28270
22    24                59803.0                  95.0    28209
23    25                99236.0                  92.0    28277
24    26                74375.0                  95.0    28215
25    27                55284.0                  97.0    28105
26    28                88095.0                  97.0    28211
27    29                88125.0                  97.0    28277
28    30                13226.0                  81.0    28215
29    31               115156.0                  92.0    28226
..   ...                    ...                   ...      ...
357  365                61259.0                  90.0    28205
358  366                40694.0                  95.0    28217
359  367                68863.0                  95.0    28204
360  368                56273.0                  84.0    28210
361  369                25798.0                  76.0    28206
362  370                17171.0                  66.0    28205
363  371                27973.0                  84.0    28213
364  372                88763.0                  94.0    28269
365  373                86191.0                  91.0    28270
366  374                23523.0                  85.0    28206
367  375               153175.0                 100.0    28226
368  376                68818.0                  92.0    28214
369  377                86731.0                  93.0    28213
370  378               104966.0                  96.0    28205
371  379               158539.0                  95.0    28210
372  380               138727.0                  91.0    28270
373  381                53000.0                  94.0    28209
374  382                22565.0                  72.0    28216
375  383                46666.0                  91.0    28210
376  384                98677.0                  93.0    28216
377  385                27958.0                  80.0    28216
378  386                33018.0                  80.0    28205
379  387                33728.0                  72.0    28208
380  388                41532.0                  88.0    28203
381  389                33935.0                  89.0    28205
382  390                39981.0                  96.0    28205
383  391               110690.0                  93.0    28270
384  392               133541.0                  96.0    28209
385  393                78990.0                  94.0    28209
386  394                35061.0                  87.0    28211

[387 rows x 4 columns]

In [331]:
economy_map = economy_map[economy_map.columns[[1,2,3]]]

In [332]:
economy_map = economy_map.groupby(['zipcode']).mean()

In [333]:
economy_map.rename(index={228208:28208}, inplace=True)

In [334]:
economy_map =economy_map.iloc[1:,]

In [335]:
economy_map = economy_map.groupby(['zipcode']).mean()

In [336]:
economy_map

         Household_Income_2015  Employment_Rate_2015
zipcode
27705             42809.000000             92.750000
28012             22976.000000             82.000000
28105             76486.230769             94.000000
28126             53997.500000             90.750000
28202             63866.000000             94.000000
28203             77448.600000             96.200000
28204             59086.500000             95.500000
28205             42178.200000             89.640000
28206             34339.000000             82.200000
28207             54591.000000             90.000000
28208             23054.500000             78.807692
28209             81832.833333             95.000000
28210             80493.400000             93.800000
28211             93697.500000             94.000000
28212             45442.473684             87.947368
28213             45628.473684             86.000000
28214             52142.235294             87.277778
28215             42706.750000             86.384615
28216             52155.807692             87.961538
28217             38510.600000             86.000000
28226             92753.772727             94.636364
28227             44695.285714             92.857143
28228             12333.000000             67.000000
28262             54383.666667             91.166667
28269             57859.300000             91.266667
28270             89057.062500             92.625000
28273             53210.384615             89.076923
28277             89534.464286             93.785714
28278             73679.400000             93.272727

In [231]:
education = pd.read_csv('Data/qol-education.csv')

In [233]:
education.head()

,NPA,Bachelors_Degree_2015,Bachelors_Degree_moe_2015,High_School_Diploma_2015,High_School_Diploma_moe_2015,Early_Care_Proximity_2015,Early_Care_Proximate_Units_2015,Early_Care_Proximity_2013,Early_Care_Proximate_Units_2013,Early_Care_Proximity_2011,...,Highschool_Graduation_Rate_2013,Student_Absenteeism_2016,Student_Absenteeism_2015,Student_Absenteeism_2014,Student_Absenteeism_2013,Neighborhood_School_Attendance_2016,Neighborhood_School_Attendance_2015,Neighborhood_School_Attendance_2014,Neighborhood_School_Attendance_2013,Neighborhood_School_Attendance_2011
0,2,34.0,4.0,86.0,9.0,61.0,662.0,61.0,664.0,100.0,...,61.0,15.0,12.0,12.0,9.0,46.0,48.0,49.0,49.0,46.0
1,3,75.0,4.0,96.0,3.0,70.0,3317.0,70.0,3306.0,80.0,...,88.0,6.0,6.0,6.0,6.0,80.0,77.0,75.0,76.0,70.0
2,4,83.0,13.0,100.0,13.0,41.0,167.0,39.0,156.0,44.0,...,100.0,2.0,1.0,4.0,2.0,80.0,82.0,86.0,86.0,84.0
3,5,2.0,5.0,75.0,24.0,100.0,331.0,100.0,329.0,100.0,...,80.0,17.0,24.0,21.0,22.0,70.0,69.0,73.0,75.0,70.0
4,6,8.0,5.0,63.0,6.0,100.0,817.0,100.0,820.0,100.0,...,56.0,21.0,20.0,21.0,16.0,67.0,66.0,65.0,74.0,67.0

In [317]:
education_map = pd.merge(education, mapping, on=['NPA'], how='inner')

In [318]:
education_map.head()

,NPA,Bachelors_Degree_2015,Bachelors_Degree_moe_2015,High_School_Diploma_2015,High_School_Diploma_moe_2015,Early_Care_Proximity_2015,Early_Care_Proximate_Units_2015,Early_Care_Proximity_2013,Early_Care_Proximate_Units_2013,Early_Care_Proximity_2011,...,Student_Absenteeism_2016,Student_Absenteeism_2015,Student_Absenteeism_2014,Student_Absenteeism_2013,Neighborhood_School_Attendance_2016,Neighborhood_School_Attendance_2015,Neighborhood_School_Attendance_2014,Neighborhood_School_Attendance_2013,Neighborhood_School_Attendance_2011,zipcode
0,2,34.0,4.0,86.0,9.0,61.0,662.0,61.0,664.0,100.0,...,15.0,12.0,12.0,9.0,46.0,48.0,49.0,49.0,46.0,28205
1,3,75.0,4.0,96.0,3.0,70.0,3317.0,70.0,3306.0,80.0,...,6.0,6.0,6.0,6.0,80.0,77.0,75.0,76.0,70.0,28203
2,4,83.0,13.0,100.0,13.0,41.0,167.0,39.0,156.0,44.0,...,2.0,1.0,4.0,2.0,80.0,82.0,86.0,86.0,84.0,28211
3,5,2.0,5.0,75.0,24.0,100.0,331.0,100.0,329.0,100.0,...,17.0,24.0,21.0,22.0,70.0,69.0,73.0,75.0,70.0,28208
4,6,8.0,5.0,63.0,6.0,100.0,817.0,100.0,820.0,100.0,...,21.0,20.0,21.0,16.0,67.0,66.0,65.0,74.0,67.0,28208

In [319]:
education_map = education_map[education_map.columns[[0,30,-1]]]

In [320]:
education_map

     NPA  Highschool_Graduation_Rate_2015  zipcode
0      2                             83.0    28205
1      3                            100.0    28203
2      4                            100.0    28211
3      5                            100.0    28208
4      6                             61.0    28208
5      7                            100.0    28211
6      8                              NaN    28209
7      9                              NaN    28205
8     10                             61.0    28205
9     11                            100.0    28203
10    12                             78.0    28210
11    13                             60.0    28209
12    14                             97.0    28269
13    15                            100.0    28270
14    16                             75.0    28205
15    17                             81.0    28213
16    18                             89.0    28211
17    19                             88.0    28210
18    20                            100.0    28277
19    21                             90.0    28213
20    22                              NaN    28206
21    23                             67.0    28270
22    24                             67.0    28209
23    25                             94.0    28277
24    26                            100.0    28215
25    27                             89.0    28105
26    28                             80.0    28211
27    29                             89.0    28277
28    30                             79.0    28215
29    31                            100.0    28226
..   ...                              ...      ...
357  365                             75.0    28205
358  366                             88.0    28217
359  367                            100.0    28204
360  368                             89.0    28210
361  369                             55.0    28206
362  370                             78.0    28205
363  371                             81.0    28213
364  372                             97.0    28269
365  373                            100.0    28270
366  374                             59.0    28206
367  375                             91.0    28226
368  376                             89.0    28214
369  377                             98.0    28213
370  378                            100.0    28205
371  379                            100.0    28210
372  380                             98.0    28270
373  381                             71.0    28209
374  382                             69.0    28216
375  383                             91.0    28210
376  384                              NaN    28216
377  385                             63.0    28216
378  386                             89.0    28205
379  387                             84.0    28208
380  388                             71.0    28203
381  389                             83.0    28205
382  390                             91.0    28205
383  391                            100.0    28270
384  392                             98.0    28209
385  393                             86.0    28209
386  394                             89.0    28211

[387 rows x 3 columns]

In [321]:
education_map = education_map[education_map.columns[[1,-1]]]

In [322]:
education_map = education_map.groupby(['zipcode']).mean()

In [323]:
education_map.rename(index={228208:28208}, inplace=True)

In [324]:
education_map =education_map.iloc[1:,]

In [325]:
education_map = education_map.groupby(['zipcode']).mean()

In [326]:
education_map.head()

         Highschool_Graduation_Rate_2015
zipcode
27705                          84.500000
28012                          94.000000
28105                          96.416667
28126                          85.500000
28202                          90.000000

In [238]:
housing = pd.read_csv('Data/qol-housing.csv')

In [239]:
housing.head()

,NPA,Housing_Density_2017,Housing_Units_2017,Housing_Density_2016,Housing_Units_2016,Housing_Density_2015,Housing_Units_2015,Housing_Density_2013,Housing_Units_2013,Housing_Density_2011,...,Housing_Violations_2011,Housing_Violations_Total_2011,Subsidized_Housing_2013,Subsidized_Housing_Units_2013,Home_Ownership_2015,Home_Ownership_moe_2015,Residential_Occupancy_2014,Residential_Occupancy_moe_2014,Rental_Costs_2014,Rental_Costs_moe_2014
0,2,2.6,1079,2.6,1079,2.6,1079,2.6,1081,2.6,...,0.65,7.0,7.0,80.0,35.0,5.0,94.0,5.0,754.0,NaN
1,3,4.6,5283,4.1,4730,4.1,4752,4.1,4746,3.8,...,1.26,55.0,10.0,472.0,47.0,4.0,86.0,2.0,1059.0,NaN
2,4,1.2,408,1.2,406,1.2,404,1.2,402,1.2,...,0.25,1.0,0.0,0.0,100.0,0.0,98.0,4.0,NaN,NaN
3,5,1.9,322,2.0,326,2.0,331,2.0,329,2.0,...,7.83,26.0,0.0,0.0,25.0,14.0,87.0,7.0,613.0,122.0
4,6,2.0,813,2.0,816,2.0,817,2.0,820,2.1,...,4.24,35.0,0.0,0.0,28.0,11.0,83.0,5.0,743.0,NaN

In [306]:
housing_map = pd.merge(housing, mapping, on=['NPA'], how='inner')

In [307]:
housing_map.head()

,NPA,Housing_Density_2017,Housing_Units_2017,Housing_Density_2016,Housing_Units_2016,Housing_Density_2015,Housing_Units_2015,Housing_Density_2013,Housing_Units_2013,Housing_Density_2011,...,Housing_Violations_Total_2011,Subsidized_Housing_2013,Subsidized_Housing_Units_2013,Home_Ownership_2015,Home_Ownership_moe_2015,Residential_Occupancy_2014,Residential_Occupancy_moe_2014,Rental_Costs_2014,Rental_Costs_moe_2014,zipcode
0,2,2.6,1079,2.6,1079,2.6,1079,2.6,1081,2.6,...,7.0,7.0,80.0,35.0,5.0,94.0,5.0,754.0,NaN,28205
1,3,4.6,5283,4.1,4730,4.1,4752,4.1,4746,3.8,...,55.0,10.0,472.0,47.0,4.0,86.0,2.0,1059.0,NaN,28203
2,4,1.2,408,1.2,406,1.2,404,1.2,402,1.2,...,1.0,0.0,0.0,100.0,0.0,98.0,4.0,NaN,NaN,28211
3,5,1.9,322,2.0,326,2.0,331,2.0,329,2.0,...,26.0,0.0,0.0,25.0,14.0,87.0,7.0,613.0,122.0,28208
4,6,2.0,813,2.0,816,2.0,817,2.0,820,2.1,...,35.0,0.0,0.0,28.0,11.0,83.0,5.0,743.0,NaN,28208

In [308]:
housing_map = housing_map[housing_map.columns[[0,34,-1]]]

In [309]:
housing_map.head()

   NPA  Rental_Houses_Units_2015  zipcode
0    2                     126.0    28205
1    3                     344.0    28203
2    4                      34.0    28211
3    5                     122.0    28208
4    6                     385.0    28208

In [310]:
housing_map = housing_map[housing_map.columns[[1,-1]]]

In [311]:
housing_map = housing_map.groupby(['zipcode']).sum()

In [312]:
housing_map.rename(index={228208:28208}, inplace=True)

In [313]:
housing_map =housing_map.iloc[1:,]

In [314]:
housing_map = housing_map.groupby(['zipcode']).sum()

In [316]:
housing_map

         Rental_Houses_Units_2015
zipcode
27705                        23.0
28012                       307.0
28105                       761.0
28126                       575.0
28202                        22.0
28203                       757.0
28204                       297.0
28205                      4123.0
28206                      1974.0
28207                         NaN
28208                      2622.0
28209                      1483.0
28210                      1138.0
28211                       635.0
28212                      1384.0
28213                      2472.0
28214                      3664.0
28215                      3433.0
28216                      5623.0
28217                       909.0
28226                       885.0
28227                       947.0
28228                        24.0
28262                      1176.0
28269                      3630.0
28270                       868.0
28273                      1430.0
28277                      1366.0
28278                      1651.0

In [244]:
 population = pd.read_csv('Data/qol-character.csv')

In [245]:
population.head()

,NPA,Area,Area.1,Population_Density_2016,Population _2016,Population_Density_2015,Population _2015,Population_Density_2013,Population _2013,Population_Density_2010,...,Vacant_Land_2017,Vacant_Land_Area_2017,Vacant_Land_2016,Vacant_Land_Area_2016,Vacant_Land_2015,Vacant_Land_Area_2015,Vacant_Land_2013,Vacant_Land_Area_2013,Vacant_Land_2011,Vacant_Land_Area_2011
0,2,411,411,5,2240,5,2216,5,2167,5.0,...,4.3,18.0,4.3,18,4.3,18,4.3,18,4.3,18
1,3,1156,1156,7,7986,7,7938,7,7810,6.0,...,2.4,27.0,2.4,27,2.5,29,2.8,33,3.2,36
2,4,329,329,3,1080,3,1078,3,1065,3.0,...,4.3,14.0,4.3,14,5.1,17,5.1,17,5.1,17
3,5,167,167,5,790,4,745,5,763,4.0,...,21.4,36.0,21.4,36,21.4,36,21.4,36,21.4,36
4,6,403,403,5,1853,4,1724,4,1775,4.0,...,7.7,31.0,7.7,31,7.7,31,7.7,31,7.7,31

In [292]:
population_map = pd.merge(population, mapping, on=['NPA'], how='inner')

In [293]:
population_map = population_map[population_map.columns[[0,6,-1]]]

In [294]:
population_map.head()

   NPA  Population _2015  zipcode
0    2              2216    28205
1    3              7938    28203
2    4              1078    28211
3    5               745    28208
4    6              1724    28208

In [295]:
population_map = population_map[population_map.columns[[1,2]]]

In [297]:
population_map = population_map.groupby(['zipcode']).sum()

In [298]:
population_map

             Population _2015
zipcode
-2147483648               189
 27705                   8302
 28012                   2451
 28105                  24465
 28126                  10339
 28202                  11144
 28203                  14820
 28204                   5768
 28205                  62718
 28206                  14657
 28207                   2216
 28208                  16560
 28209                  34448
 28210                  44503
 28211                  22891
 28212                  37576
 28213                  52193
 28214                  43923
 28215                  54710
 28216                  64476
 28217                  21687
 28226                  43518
 28227                  13371
 28228                   1334
 28262                  28204
 28269                  70974
 28270                  36012
 28273                  31496
 28277                  64126
 28278                  30425
 228208                  1251

In [299]:
population_map.rename(index={228208:28208}, inplace=True)

In [300]:
population_map =population_map.iloc[1:,]

In [301]:
population_map = population_map.groupby(['zipcode']).sum()

In [303]:
population_map

         Population _2015
zipcode
27705                8302
28012                2451
28105               24465
28126               10339
28202               11144
28203               14820
28204                5768
28205               62718
28206               14657
28207                2216
28208               17811
28209               34448
28210               44503
28211               22891
28212               37576
28213               52193
28214               43923
28215               54710
28216               64476
28217               21687
28226               43518
28227               13371
28228                1334
28262               28204
28269               70974
28270               36012
28273               31496
28277               64126
28278               30425

In [250]:
transportation = pd.read_csv('Data/qol-transportation.csv')

In [251]:
transportation.head()

,NPA,Long_Commute_2014,Long_Commute_moe_2014,Bicycle_Friendliness_2016,Bicycle_Friendliness_2015,Bicycle_Friendliness_2013,Bicycle_Friendliness_2011,Street_Connectivity_2017,Street_Connectivity_2016,Street_Connectivity_2015,...,Transit_Proximity_2013,Transit_Proximate_Units_2013,Transit_Proximity_2011,Transit_Proximate_Units_2011,Transit_Ridership_2015,Transit_Ridership_Total_2015,Transit_Ridership_2014,Transit_Ridership_Total_2014,Transit_Ridership_2013,Transit_Ridership_Total_2013
0,2,47.0,11.0,1.5,1.5,1.5,1.6,1.20,1.20,1.20,...,100.0,1081.0,100.0,1082.0,35.0,879.0,43.0,1068.0,54.0,1348.0
1,3,38.0,7.0,2.2,2.1,2.3,2.2,1.48,1.48,1.50,...,100.0,4746.0,100.0,4468.0,34.0,2346.0,35.0,2438.0,33.0,2697.0
2,4,59.0,14.0,1.8,1.7,1.7,1.6,1.17,1.17,1.17,...,100.0,402.0,100.0,401.0,8.0,59.0,9.0,60.0,5.0,53.0
3,5,23.0,27.0,1.6,1.6,1.7,1.5,1.16,1.16,1.16,...,100.0,329.0,100.0,332.0,17.0,66.0,15.0,60.0,17.0,67.0
4,6,63.0,10.0,1.8,1.8,1.8,1.7,1.28,1.28,1.30,...,100.0,820.0,100.0,825.0,74.0,1258.0,77.0,1312.0,86.0,1375.0

In [344]:
transport_map = pd.merge(transportation, mapping, on=['NPA'], how='inner')

In [345]:
transport_map = transport_map[transport_map.columns[[0,9,16,-1]]]

In [346]:
transport_map.head()

   NPA  Street_Connectivity_2015  Transit_Proximity_2015  zipcode
0    2                      1.20                   100.0    28205
1    3                      1.50                   100.0    28203
2    4                      1.17                    94.0    28211
3    5                      1.16                   100.0    28208
4    6                      1.30                   100.0    28208

In [347]:
transport_map

     NPA  Street_Connectivity_2015  Transit_Proximity_2015  zipcode
0      2                      1.20                   100.0    28205
1      3                      1.50                   100.0    28203
2      4                      1.17                    94.0    28211
3      5                      1.16                   100.0    28208
4      6                      1.30                   100.0    28208
5      7                      1.19                    74.0    28211
6      8                      1.16                    99.0    28209
7      9                      1.38                   100.0    28205
8     10                      1.35                   100.0    28205
9     11                      1.20                   100.0    28203
10    12                      1.05                   100.0    28210
11    13                      1.24                   100.0    28209
12    14                      1.10                    74.0    28269
13    15                      1.17                     0.0    28270
14    16                      1.20                    98.0    28205
15    17                      1.18                   100.0    28213
16    18                      1.17                   100.0    28211
17    19                      1.15                    98.0    28210
18    20                      1.08                    42.0    28277
19    21                      1.18                   100.0    28213
20    22                      1.23                   100.0    28206
21    23                      1.00                    84.0    28270
22    24                      1.25                   100.0    28209
23    25                      1.08                    38.0    28277
24    26                      1.03                    13.0    28215
25    27                      1.08                    90.0    28105
26    28                      1.31                   100.0    28211
27    29                      1.02                     8.0    28277
28    30                      1.28                   100.0    28215
29    31                      1.21                    62.0    28226
..   ...                       ...                     ...      ...
357  365                      1.36                   100.0    28205
358  366                      1.27                   100.0    28217
359  367                      1.42                   100.0    28204
360  368                      1.24                   100.0    28210
361  369                      1.29                   100.0    28206
362  370                      1.21                   100.0    28205
363  371                      1.30                   100.0    28213
364  372                      1.11                     7.0    28269
365  373                      1.23                    70.0    28270
366  374                      1.27                   100.0    28206
367  375                      1.14                    76.0    28226
368  376                      1.06                    75.0    28214
369  377                      1.12                     0.0    28213
370  378                      1.34                   100.0    28205
371  379                      1.08                     0.0    28210
372  380                      1.08                     1.0    28270
373  381                      1.29                    99.0    28209
374  382                      1.38                   100.0    28216
375  383                      1.29                    95.0    28210
376  384                      1.44                   100.0    28216
377  385                      1.20                   100.0    28216
378  386                      1.45                   100.0    28205
379  387                      1.33                   100.0    28208
380  388                      1.49                   100.0    28203
381  389                      1.26                   100.0    28205
382  390                      1.20                   100.0    28205
383  391                      1.21                    21.0    28270
384  392                      1.44                   100.0    28209
385  393                      1.35                    88.0    28209
386  394                      1.17                    98.0    28211

[387 rows x 4 columns]

In [348]:
transport_map = transport_map[transport_map.columns[[1,2,3]]]

In [349]:
transport_map.head()

   Street_Connectivity_2015  Transit_Proximity_2015  zipcode
0                      1.20                   100.0    28205
1                      1.50                   100.0    28203
2                      1.17                    94.0    28211
3                      1.16                   100.0    28208
4                      1.30                   100.0    28208

In [350]:
transport_map = transport_map.groupby(['zipcode']).mean()

In [351]:
transport_map.rename(index={228208:28208}, inplace=True)

In [352]:
transport_map

             Street_Connectivity_2015  Transit_Proximity_2015
zipcode
-2147483648                  1.250000               65.000000
 27705                       1.202500               67.500000
 28012                       1.300000              100.000000
 28105                       1.104615               41.076923
 28126                       1.120000               53.000000
 28202                       1.485000              100.000000
 28203                       1.420000              100.000000
 28204                       1.430000              100.000000
 28205                       1.206400               99.400000
 28206                       1.290000              100.000000
 28207                       1.290000              100.000000
 28208                       1.262308              100.000000
 28209                       1.220833               97.166667
 28210                       1.131500               83.150000
 28211                       1.182500               89.916667
 28212                       1.141053               97.421053
 28213                       1.136500               68.750000
 28214                       1.146111               57.111111
 28215                       1.147308               66.961538
 28216                       1.200385               65.307692
 28217                       1.195455               89.700000
 28226                       1.129545               85.181818
 28227                       1.084286               80.571429
 28228                       1.170000              100.000000
 28262                       1.134167               47.416667
 28269                       1.108000               39.866667
 28270                       1.105625               63.687500
 28273                       1.153077               81.615385
 28277                       1.120357               44.071429
 28278                       1.148182               21.454545
 28208                       1.130000              100.000000

In [353]:
transport_map = transport_map.iloc[1:,]

In [354]:
transport_map = transport_map.groupby(['zipcode']).mean()

In [355]:
transport_map.head()

         Street_Connectivity_2015  Transit_Proximity_2015
zipcode
27705                    1.202500               67.500000
28012                    1.300000              100.000000
28105                    1.104615               41.076923
28126                    1.120000               53.000000
28202                    1.485000              100.000000

In [358]:
transport_map = transport_map.reset_index()

In [359]:
education_map = education_map.reset_index()

In [360]:
population_map = population_map.reset_index()

In [361]:
housing_map = housing_map.reset_index()

In [362]:
economy_map = economy_map.reset_index()

In [363]:
dataset = pd.merge(transport_map, population_map, on=['zipcode'], how='inner')

In [364]:
dataset.head()

   zipcode  Street_Connectivity_2015  Transit_Proximity_2015  Population _2015
0    27705                  1.202500               67.500000              8302
1    28012                  1.300000              100.000000              2451
2    28105                  1.104615               41.076923             24465
3    28126                  1.120000               53.000000             10339
4    28202                  1.485000              100.000000             11144

In [365]:
dataset = pd.merge(dataset, education_map, on=['zipcode'], how='inner')

In [366]:
dataset = pd.merge(dataset,housing_map, on=['zipcode'], how='inner')

In [367]:
dataset = pd.merge(dataset, economy_map, on=['zipcode'], how='inner')

In [368]:
dataset

,zipcode,Street_Connectivity_2015,Transit_Proximity_2015,Population _2015,Highschool_Graduation_Rate_2015,Rental_Houses_Units_2015,Household_Income_2015,Employment_Rate_2015
0,27705,1.202500,67.500000,8302,84.500000,23.0,42809.000000,92.750000
1,28012,1.300000,100.000000,2451,94.000000,307.0,22976.000000,82.000000
2,28105,1.104615,41.076923,24465,96.416667,761.0,76486.230769,94.000000
3,28126,1.120000,53.000000,10339,85.500000,575.0,53997.500000,90.750000
4,28202,1.485000,100.000000,11144,90.000000,22.0,63866.000000,94.000000
5,28203,1.420000,100.000000,14820,90.333333,757.0,77448.600000,96.200000
6,28204,1.430000,100.000000,5768,81.500000,297.0,59086.500000,95.500000
7,28205,1.206400,99.400000,62718,80.318182,4123.0,42178.200000,89.640000
8,28206,1.290000,100.000000,14657,66.571429,1974.0,34339.000000,82.200000
9,28207,1.290000,100.000000,2216,83.000000,NaN,54591.000000,90.000000
10,28208,1.196154,100.000000,17811,72.227273,2622.0,23054.500000,78.807692
11,28209,1.220833,97.166667,34448,82.500000,1483.0,81832.833333,95.000000
12,28210,1.131500,83.150000,44503,89.777778,1138.0,80493.400000,93.800000
13,28211,1.182500,89.916667,22891,92.833333,635.0,93697.500000,94.000000
14,28212,1.141053,97.421053,37576,82.736842,1384.0,45442.473684,87.947368
15,28213,1.136500,68.750000,52193,88.789474,2472.0,45628.473684,86.000000
16,28214,1.146111,57.111111,43923,86.444444,3664.0,52142.235294,87.277778
17,28215,1.147308,66.961538,54710,86.833333,3433.0,42706.750000,86.384615
18,28216,1.200385,65.307692,64476,81.120000,5623.0,52155.807692,87.961538
19,28217,1.195455,89.700000,21687,75.300000,909.0,38510.600000,86.000000
20,28226,1.129545,85.181818,43518,94.857143,885.0,92753.772727,94.636364
21,28227,1.084286,80.571429,13371,86.142857,947.0,44695.285714,92.857143
22,28228,1.170000,100.000000,1334,78.000000,24.0,12333.000000,67.000000
23,28262,1.134167,47.416667,28204,90.181818,1176.0,54383.666667,91.166667
24,28269,1.108000,39.866667,70974,92.321429,3630.0,57859.300000,91.266667
25,28270,1.105625,63.687500,36012,96.533333,868.0,89057.062500,92.625000
26,28273,1.153077,81.615385,31496,89.166667,1430.0,53210.384615,89.076923
27,28277,1.120357,44.071429,64126,94.320000,1366.0,89534.464286,93.785714
28,28278,1.148182,21.454545,30425,89.300000,1651.0,73679.400000,93.272727

In [370]:
df = df.reset_index()

In [371]:
dataset = pd.merge(dataset, df, on=['zipcode'], how='inner')

In [372]:
dataset

,zipcode,Street_Connectivity_2015,Transit_Proximity_2015,Population _2015,Highschool_Graduation_Rate_2015,Rental_Houses_Units_2015,Household_Income_2015,Employment_Rate_2015,actual_num
0,28012,1.300000,100.000000,2451,94.000000,307.0,22976.000000,82.000000,9
1,28105,1.104615,41.076923,24465,96.416667,761.0,76486.230769,94.000000,281
2,28126,1.120000,53.000000,10339,85.500000,575.0,53997.500000,90.750000,2
3,28202,1.485000,100.000000,11144,90.000000,22.0,63866.000000,94.000000,116
4,28203,1.420000,100.000000,14820,90.333333,757.0,77448.600000,96.200000,45
5,28204,1.430000,100.000000,5768,81.500000,297.0,59086.500000,95.500000,49
6,28205,1.206400,99.400000,62718,80.318182,4123.0,42178.200000,89.640000,1325
7,28206,1.290000,100.000000,14657,66.571429,1974.0,34339.000000,82.200000,1161
8,28207,1.290000,100.000000,2216,83.000000,NaN,54591.000000,90.000000,19
9,28208,1.196154,100.000000,17811,72.227273,2622.0,23054.500000,78.807692,804
10,28209,1.220833,97.166667,34448,82.500000,1483.0,81832.833333,95.000000,221
11,28210,1.131500,83.150000,44503,89.777778,1138.0,80493.400000,93.800000,831
12,28211,1.182500,89.916667,22891,92.833333,635.0,93697.500000,94.000000,204
13,28212,1.141053,97.421053,37576,82.736842,1384.0,45442.473684,87.947368,1443
14,28213,1.136500,68.750000,52193,88.789474,2472.0,45628.473684,86.000000,937
15,28214,1.146111,57.111111,43923,86.444444,3664.0,52142.235294,87.277778,771
16,28215,1.147308,66.961538,54710,86.833333,3433.0,42706.750000,86.384615,1573
17,28216,1.200385,65.307692,64476,81.120000,5623.0,52155.807692,87.961538,711
18,28217,1.195455,89.700000,21687,75.300000,909.0,38510.600000,86.000000,1161
19,28226,1.129545,85.181818,43518,94.857143,885.0,92753.772727,94.636364,226
20,28227,1.084286,80.571429,13371,86.142857,947.0,44695.285714,92.857143,1126
21,28262,1.134167,47.416667,28204,90.181818,1176.0,54383.666667,91.166667,498
22,28269,1.108000,39.866667,70974,92.321429,3630.0,57859.300000,91.266667,901
23,28270,1.105625,63.687500,36012,96.533333,868.0,89057.062500,92.625000,213
24,28273,1.153077,81.615385,31496,89.166667,1430.0,53210.384615,89.076923,674
25,28277,1.120357,44.071429,64126,94.320000,1366.0,89534.464286,93.785714,231
26,28278,1.148182,21.454545,30425,89.300000,1651.0,73679.400000,93.272727,203

In [374]:
dataset.to_csv('Data/WitWorkers-Dataset.csv')